%message{
	font-family:  Helvetica;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	padding: 20px;
	margin: 10px;
	border: 1 px solid black;
}

.success{
	@extend %message;
	background-color: green;
}

.error{
	@extend %message;
	background-color: red;
}

.info{
	@extend %message;
	background-color: yellow;
}



$color1 : red;
$color2 : grey;

div {
	p{
		font-size:18px;
		text-align: center;
  		font-family: sans-serif;
	}

	ol{
		border: 2px solid black;
  		border-radius: 5px;
  		color : $color1
	}

	.pre-visit{
		color: $color2;
	}
}


