@media screen and (min-width: 500px) {
  h1 {
  	color: red;
  	text-align: center;
  	font-family: verdana;
  	font-size: 20px;
  }

	
 body {
    background-color: lightpink;
  }

}


@media screen and (max-width: 490px){
  	h1 {
  		color: green;
  		text-align: center;
  		font-family: verdana;
  		font-size: 10px;
  	}
}

a::before{
	content: "\2605";
	font-weight: bold;
}

td::selection {
	color : red;
	background-color: yellow;
}


.row > div{
	padding: 20px;
	background:-color : teal;

  	border: 2px solid black;
  	border-radius: 5px;
}


#contact_table{
	color: MediumSeaGreen;
	font-family: Arial;
}



tr{
	border:2px dotted MediumSeaGreen;
}
